<div class="d-flex justify-content-between align-items-end">
  <h1>All our restaurants</h1>
  <p><%= link_to 'New restaurant', new_restaurant_path, class: 'btn btn-primary' %></p>
</div>

<div class="shadow mb-5 bg-white rounded">
  <% @restaurants.each do |restaurant| %>
    <div class="border-bottom py-2 px-3">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <%= link_to restaurant.name, restaurant_path(restaurant), class: 'font-weight-bolder text-dark' %>
        </div>
        <div>
          <%= link_to 'edit', edit_restaurant_path(restaurant), class: 'btn btn-link btn-sm' %>
          <%= link_to 'delete', restaurant_path(restaurant), class: 'btn btn-outline-danger btn-sm', method: 'delete', data: { confirm: 'Are you sure? Really?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
